@media (min-width: 1024px) {
  
    body {
        display: flex;
        flex-direction: column;
        background-color: #F3E9D2;
    }

    header {
        padding: 1.5rem;
        font-size: 36pt;
    }

    header h3 {
        font-size: 18pt;
        margin-top: -5px;
    }

    header img {
        margin: .5rem;
    }

    nav {
        font-size: 18pt;
    }
    
    main {
        font-size: 14pt;
        min-width: 900px;
        max-width: 900px;
        align-self: center;
        padding: 1.5rem;
        background-color: #88D498;
    }

    .article-img {
        max-width: 450px;
    }

    footer {
        max-width: 900px;
        min-width: 900px;
        align-self: center;
    }

    /*CSS for Gallery Page in Large View*/
      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery-div:hover {
        box-shadow: 0 0 40px #114B5F;
    }

    picture img {
        height: 150px;
    }

    .gallery-div h3{
        margin-top: -8px;
    }

    #galleryH2 {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
}